/Library
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
AYellowpaper.SerializedCollections.csproj
AYellowpaper.SerializedCollections.Editor.csproj
*.log
obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
*.cache
Temp/__Backupscenes/0.backup
*.gbc
*.obj
Temp/FSTimeGet-5360289930c37da4f8f93670a1a18883
Temp/FSTimeGet-75ea4183c2bbac745a8e9775351c0969
Temp/FSTimeGet-d4a069e196291b04f97ebdd68fff2dac
Temp/UnityLockfile
Temp/workerlic
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2022.dwlt
UserSettings/Search.index
UserSettings/Search.settings
怪奇旅伴.sln
怪奇旅伴.sln.DotSettings.user
